body {
    font-family: roboto, sans-serif; /* a segunda fonte é caso a primeira não funcione*/
}

.navbar {
    background-color: #991010;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #991010;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-servicos .nav-link.active:hover { /* :hover tirar o piscado em preto do nome do restaurante */ 
    color: #fff;
}

.navbar-toggler {
    background-color: #ffffff;
}

.section-title {
    font-family: Inter, serif;
}

#sobre-nos,
#servicos {
    background-color: #eeebeb;
}

.text-colored {  /* ref cor de só um pedaço do texto */
    color: #991010;
}

.nav-servicos .nav-link.active,
#fale-conosco button { /* referente a cor dos botoes do menu e do botao do formulario no final */
    background-color: #991010;
    color: #fff;
}

.nav-servicos .nav-link:hover { /* :hover tirar o piscado em azul que tinha antes */ 
    color: #000000;
}

.social-links li, .contato {
    list-style: none; /* para remover os bullets */
    display: inline; /* para ficar um ao lado do outro */
}

.social-links li a {
    text-decoration: none; /* para retirar o underline que ficam entre os links */
    color: #991010;
}

.error {
    color: rgb(114, 33, 33)
}

footer {
    background-color: #991010;
    color: #fff;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
