body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    background-color: #1c1c1c;
}

.nav .nav-link.active{
    background-color: #3a3a3a;
    color: #39FF14;
}

.nav .nav-link,
.navbar-brand,
.navbar-brand:hover{
    color: #39FF14;
}

.navbar-brand{
    font-family: 'Tiny5', sans-serif;
    font-size: 48px;
    font-weight: 700;
}

.navbar-toggler{
    background-color: #3a3a3a;
    color: #39FF14;
}

.section-title{
    font-family: 'Tiny5', sans-serif;
    font-weight: 700;
    color: #39FF14;
}

p, ul li{
    color: #f2f2f2;
}

#sobre-a-loja{
    background-color: #1c1c1c;
}